


.logo-massa{
    width: 13%;
}
.sofro{
    width: 30%;
}
.aiai{
    width: 30%;
}

.se{
    width: 30%;
}

.arrependimento{
    width: 30%;
}

.corpinho{
    background-color: #FFE7ED;
}

.vamove{
    text-align: center;
    margin: 40px;
    padding: 30px;
}

.vamovene{
    text-align: center;
}
